In [45]:
from pandas import DataFrame
score = {'语文':[68,95,98,90,80],  '数学':[65,76,86,88,90], '英语':[30,98,88,77,90]}
df= DataFrame(score, index=['张飞','关羽','刘备','典韦','许褚'], columns=['语文','数学','英语'])
mean_1=df.mean()
max_1=df.max()
min_1=df.min()
std_1=df.std()
var_1=df.var()
result=DataFrame([mean,max_1,min_1,std,var])
result

           语文          数学          英语
0   86.200000   81.000000   76.600000
1   98.000000   90.000000   98.000000
2   68.000000   65.000000   30.000000
3   12.255611   10.440307   27.107195
4  150.200000  109.000000  734.800000

In [23]:
sum_score=df.sum(axis=1)
sum_score=sum_score.sort_values(ascending=False)
print(sum_score)

刘备    272
关羽    269
许褚    260
典韦    255
张飞    163
dtype: int64